body {
    height: 100%;
    margin-left: 8px;
}

.autorunText {
    color: blue;
}

.zoneTop {
    position: absolute;
    left: 0;
    top: 0px;
    width: 960px;
    height: 540px;
}

.zoneBottom {
    position: absolute;
    left: 960px;
    top: 540px;
    width: 960px;
    height: 540px;

}